.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  width: 100%;
}
.headerEnd {
  display: flex;
  gap: 16px;
}
.searchCard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginCard{
  cursor: pointer;
  padding: 0.7rem;
}
.loginCard:hover{
    background-color: #f5f3f3;
}
@media screen and (max-width: 768px) {
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  width: 100%;
}

.headerBeginning {
  font-weight: 600;
}

.headerEnd {
  display: flex;
  gap: 16px;
  align-items: center;
}

.searchCard {
  display: flex;
  align-items: center;
}

.loginCard {
  cursor: pointer;
  padding: 0.7rem;
}

.loginCard:hover,
.loginCard:active {
  background-color: #f5f3f3;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.5rem;
  }

  .headerEnd {
    gap: 10px;
  }

  .searchCard {
    display: none;
  }
}
}