.searchWrapper {
    position: relative;
    width: 300px;
}

.searchIcon {
    color: #dbd7d7;
    position: absolute;
    transform: translateY(-50%);
    left: 8px;
    top: 50%;
    pointer-events: none;
}

.searchField {
    outline: none;
    border: 1px solid #ccc;
    padding: 8px 8px 8px 32px;
    width: 100%;
}

.searchField:focus {
    border-color: aqua;
}
